name: Cypress Tests

on:
  push:
    branches:
      - main  # Set the branch name where you want tests to run

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install Node.js and NPM
      uses: actions/setup-node@v2
      with:
        node-version: '20'

    - name: Install dependencies
      run: npm install

    - name: Run Cypress tests
      run: npm run cypress:run
